@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #ffffff;
}

html.dark {
  background-color: #101617;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

button:disabled {
  opacity: 50%;
  cursor: not-allowed !important;
  pointer-events: all !important;
}
